*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

}

:root{
 font-family: "Roboto",sans-serif;
 --color:rgb(14,15,6);
 --color2: rgb(251,249,249);
}

body{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100vh;
 color: rgb(6,6,6);
 font-size: 20px;
 background-position: center;
 background: linear-gradient(rgba(186, 208, 250, 0.986), rgb(80, 43, 43));
}

label{
 font-size: 40px;
 letter-spacing: 2px;
 font-weight: bold;
 position: relative;
}

input{
 margin: 40px 0 10px;
 padding: 7px;
 font-size: 18px;
 border-radius: 10px;
 position: relative;
}

#details h2{
 text-align: center;
}

.detailsText{
 margin: 10px 0;
 font-size: 18px;
 color: rgb(8,8,8);
 letter-spacing: 1px;
 height: 1em;
 font-weight: 300;
 position: relative;
}

.detailsText p{
 margin-bottom: 10px;
}

button{
 width: 200px;
 margin: 0 30px;
 padding: 10px 30px;
 background: none;
 border: 2px solid var(--color);
 border-radius: 10px;
 color: var(--color2);
 font-size: 24px;
 transition: color 0.3s, box-shadow 0.3s;
 box-shadow: 3px 3px 10px var(--color);
 text-transform: uppercase;
 cursor: pointer;
}

button:hover{
 color: var(--color);
 box-shadow: 3px 3px 10px var(--color2);
}

@media screen and (max-width:400px)  {
 label{
   font-size: 30px;
 }
 #details h2 {
   font-size: 24px;
 }
}

@media screen and (max-width:1000px) {
 button{
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
 }
}